
/*
__________                      __   
\______   \ ____   ______ _____/  |_ 
 |       _// __ \ /  ___// __ \   __\
 |    |   \  ___/ \___ \\  ___/|  |  
 |____|_  /\___  >____  >\___  >__|  
        \/     \/     \/     \/      

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 40px;
	margin-top: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*end of reset*/





/*header*/

nav{
	justify-content: space-around;
	display: flex;
	align-items: center;
	font-family: 'open sans', sans-serif;

}

nav a {
	text-decoration: none;
	color: #022835;
}
nav a:before {
  display: block;
text-align: center;

}
nav a:nth-child(2):before{
	content: ;
}

nav a:nth-child(3):before{
	content: ;
}


/* main */

h1 {
	
	font-family: 'candal', 'sans-serif'


}

body {
	text-align: center;
	font-family: 'open sans', 'sans-serif';
}


section{

	display: flex;
	flex-direction: row;
	align-items: stretch;

  	justify-content: space-between;
  	font-family: 'open sans', sans-serif;
}



/* footer */
footer {
	background-color: #022835;
	color: 	#FFFFFF;
	text-align: center
}

nav.footer a{
	color: red
}
