/*Ce CSS a été écrit selon la méthode SmaCSS. https://smacss.com/ */

/*
__________                      __   
\______   \ ____   ______ _____/  |_ 
 |       _// __ \ /  ___// __ \   __\
 |    |   \  ___/ \___ \\  ___/|  |  
 |____|_  /\___  >____  >\___  >__|  
        \/     \/     \/     \/      

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*annuler la place prise par le padding*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/*

  ____                   _____       _           
 |  _ \                 |  __ \     | |          
 | |_) | __ _ ___  ___  | |__) |   _| | ___  ___ 
 |  _ < / _` / __|/ _ \ |  _  / | | | |/ _ \/ __|
 | |_) | (_| \__ \  __/ | | \ \ |_| | |  __/\__ \
 |____/ \__,_|___/\___| |_|  \_\__,_|_|\___||___/
                                                 
  */                                               

/*Font-Familly*/

h1,h2,h3,h4,h5, h1+p, nav a{
	font-family: "Candal",sans-serif;
}
p, li, span{
    font-family: 'Open Sans', sans-serif;
}
nav a:before, #hebergement h3:before, #solution h3:before{
	font-family: "Font Awesome 5 free";
	font-weight: 600;
}



/*Font-Size*/
html{
	font-size: 62.5%; 
}
header nav a{
  font-size: 2em
}

header h1,h3:before,.fas{
	font-size: 3em
	} 

main article h3{
  font-size: 1.5em
}

main h2{
  font-size: 2em
}

header p, span{
	font-size: 2em
	} 
main h2, a:before{
	font-size: 2em
	} 
main h3{
	font-size: 1em
	} 
li{
  font-size: 0.8em
}

main p{
  font-size: 1.5em
}


/*
  _                             _     _____       _           
 | |                           | |   |  __ \     | |          
 | |     __ _ _   _  ___  _   _| |_  | |__) |   _| | ___  ___ 
 | |    / _` | | | |/ _ \| | | | __| |  _  / | | | |/ _ \/ __|
 | |___| (_| | |_| | (_) | |_| | |_  | | \ \ |_| | |  __/\__ \
 |______\__,_|\__, |\___/ \__,_|\__| |_|  \_\__,_|_|\___||___/
               __/ |                                          
              |___/                                           
*/

/*titre*/

/*text*/
h1, h1+p, h2, h3, h4, a, footer, span, .fas, .contact{
  text-align: center;
}
p, ul{
  line-height: 1.5em
}
li{
  line-height: 2em
}

span{
  font-weight: bold
}

input{
  text-transform: uppercase;
}

.prix{
	border: dotted 1px #5d675c;
}
h2{
	border-top: dotted 1px #5d675c;
	border-left:dotted 1px #5d675c;
	border-right:dotted 1px #5d675c;
}

.fas{
  border-bottom: dotted 1px #fb8b9b
}

/*link*/
a{
  text-decoration: none;
  text-align: center
}

/*liste*/
li{
  list-style-type: circle;
}

/*icone*/

header nav a:nth-child(2):before, #hebergement article:first-child h3:before {
	content: "\f0c0";
}
header nav a:nth-child(3):before, #hebergement article:nth-child(2) h3:before {
	content: "\f007 ";
}
header nav a:nth-child(4):before, #hebergement article:last-child h3:before {
	content: "\f0c2";
}
header nav a:last-child:before{
	content: "\f0e0  ";
}

#solution article:first-child h3:before {
	content: "\f085 ";
}
#solution article:nth-child(2) h3:before {
	content: "\f1fe ";
}
#solution article:last-child h3:before {
	content: "\f1c0";
}


/*background*/
#acceuil_bg{
	background: url("../img/background.jpg");
  background-size: contain;
}

/*
                      _       _        _____       _           
                     | |     | |      |  __ \     | |          
  _ __ ___   ___   __| |_   _| | ___  | |__) |   _| | ___  ___ 
 | '_ ` _ \ / _ \ / _` | | | | |/ _ \ |  _  / | | | |/ _ \/ __|
 | | | | | | (_) | (_| | |_| | |  __/ | | \ \ |_| | |  __/\__ \
 |_| |_| |_|\___/ \__,_|\__,_|_|\___| |_|  \_\__,_|_|\___||___/
                                                               
 */  
 /*width*/
 main{
 width: 80%;
 margin-right: auto;
 margin-left:auto;
 }

nav img{
  width: 70%
}
input,.prix a,iframe,article{
  width: 100%;
}

footer img{
  width: 3%
}
article.prix {
  width: 30%
}
iframe{
  height: 30em
}


/*display*/
nav a:before, #hebergement h3:before, #solution h3:before, .fas,span, .prix a {
	display: block;
}
article,.fas+p{
  display: inline-block
}
.flex-row{
	display: flex;
	justify-content: space-between;
}
.prix{
  vertical-align: top;
  align-self: flex-start
}




/*margin*/
nav a {
  margin: 3em;
}
header nav a+a{
  padding-top: 2em
}
h2{
  margin: 2em 0;
}
h3{
  margin-bottom: 1em
}
span{
  margin: 1em
}
section{
  margin-bottom: 3em
}
main>article{
  margin-bottom: 2em
}
.prix{
  margin: 1em
}
.fas{
  margin: 0 1em;
}
.contact {
  margin-bottom: 3em
}
footer nav{
  margin: 0 20em
}



/*padding*/
#acceuil_bg{
  padding:12% 2%
}
h1{
  padding-bottom: 2.5rem
}
input{
  padding: 0.8em 0 0.8em 3em;
}
h2{
  padding: 1em 0
}
h3:before{
  padding-bottom: 0.5em 
}
p{
  padding: 0.7em 0.5em
}
.prix{
  padding: 1em 0.5em 0.5em 0.5em;
}
.prix h3{
  padding: 1.5em
}
ul{
  padding-left: 20%
}
.prix a {
  padding: 1em
}
h4{
  padding: 2em;
}
.fas{
  padding-bottom: 0.5em
}

/*
  _   _                           _____       _           
 | | | |                         |  __ \     | |          
 | |_| |__   ___ _ __ ___   ___  | |__) |   _| | ___  ___ 
 | __| '_ \ / _ \ '_ ` _ \ / _ \ |  _  / | | | |/ _ \/ __|
 | |_| | | |  __/ | | | | |  __/ | | \ \ |_| | |  __/\__ \
  \__|_| |_|\___|_| |_| |_|\___| |_|  \_\__,_|_|\___||___/
                                                          
   */ 
   /*rose*/
   nav a:before, h3:before, #solution h3, #hebergement h3, span, .fas, .contact a{
   	color:#fb8b9b;
   }
   input[type="search"], article a{
   	background-color: #fb8b9b;
   }

   /*rose claire*/
   input[type="search"]::placeholder{
   	color: #ffc8cb;
   }


   /*blue*/
   nav a, h2{
   	color:#213e4e;
   }
   footer, h3{
   	background-color: #213e4e;
   }


   /*gris*/
   p, li, h4, ul+h3{
   	color: #5d675c;
   }

   /*blanc*/
   footer, h3, article a, h1, h1+p, footer nav a, footer a{
   	color: white;
   }
 	input[type="search"]{
   	color: white;
   }
   
	#solution h3, #hebergement h3, ul+h3, .contact a{
 	background-color: white;
	}

   /*
   _____ _                       _                _____ _        _       
  / ____| |                     (_)              / ____| |      | |      
 | |    | |__   __ _ _ __   __ _ _ _ __   __ _  | (___ | |_ __ _| |_ ___ 
 | |    | '_ \ / _` | '_ \ / _` | | '_ \ / _` |  \___ \| __/ _` | __/ _ \
 | |____| | | | (_| | | | | (_| | | | | | (_| |  ____) | || (_| | ||  __/
  \_____|_| |_|\__,_|_| |_|\__, |_|_| |_|\__, | |_____/ \__\__,_|\__\___|
                            __/ |         __/ |                          
                           |___/         |___/                           

*/
header nav a,header nav a:before,section:hover .prix,section .prix:hover {
  transition: 1s;
}


header nav #selection:before{
  color: #213e4e
}
header nav #selection {
  color: #fb8b9b
}


header nav a:hover:before{
  color: #213e4e
}
header nav a:hover {
  color: #fb8b9b
}

/*opacité sur article*/
section:hover .prix{
  opacity: 0.8
}
section .prix:hover{
  opacity:1
}
